<!-- - - - - - - - - - - - - - Main footer - - - - - - - - - - - - - - - -->
<footer class="main-footer">
  <div class="content container">
    <ul class="social-footer-links">
      <li><a href="https://twitter.com/freenters" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/Freenters/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://plus.google.com/113426562012840438039" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.linkedin.com/company/freenters-inc-" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>

    <ul class="legal-footer-links">
      <li><small class="slide-top">© <span class="bold">Freenters</span> 2016</small></li>
      <li><a href="#" class="footer-terms" onclick="window.open(&quot;http://www.freenters.com/components/core/terms/terms.html&quot;,&quot;popupwindow&quot;, &quot;width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable&quot;); return false;" target="_blank">Terms and Conditions</a></li>
      <li><a href="#" class="footer-terms" onclick="window.open(&quot;http://www.freenters.com/components/core/terms/privacy.html&quot;,&quot;popupwindow&quot;, &quot;width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable&quot;); return false;" target="_blank">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
