* {
  box-sizing: border-box; }

body {
  height: 3000px; }

.content {
  max-width: 1170px; }

.row {
  display: block; }
  .row .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none; }

.main-navbar .navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
.main-navbar .navbar {
  background-color: transparent;
  border: 0px;
  margin-bottom: 0px;
  transition: all 0.5s; }
  .main-navbar .navbar .content {
    margin: 0 auto; }
    .main-navbar .navbar .content .navbar-toggle {
      border: none; }
      .main-navbar .navbar .content .navbar-toggle .icon-bar {
        width: 22px;
        height: 3px;
        background-color: #a7a8a6; }
      .main-navbar .navbar .content .navbar-toggle:hover {
        background-color: transparent !important; }
        .main-navbar .navbar .content .navbar-toggle:hover .icon-bar {
          background-color: #fff; }
      .main-navbar .navbar .content .navbar-toggle:focus {
        background-color: transparent; }
    .main-navbar .navbar .content .icon-bar-green .icon-bar {
      background-color: #51bf87; }
    .main-navbar .navbar .content .icon-bar-green:hover .icon-bar {
      background-color: #51bf87; }
    .main-navbar .navbar .content .navbar-brand {
      font-family: "Roboto", sans-serif;
      background-color: #51bf87;
      color: #fff;
      padding: 15px 30px;
      letter-spacing: 1px;
      font-size: 1.4em;
      font-weight: bold;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }
    .main-navbar .navbar .content ul.navbar-right {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0px 15px;
      transition: all 0.5s; }
      .main-navbar .navbar .content ul.navbar-right .active {
        color: #51bf87 !important; }
      .main-navbar .navbar .content ul.navbar-right li {
        margin-left: 10px; }
        .main-navbar .navbar .content ul.navbar-right li a {
          padding-top: 10px;
          padding-bottom: 10px;
          color: #4db37e; }
        .main-navbar .navbar .content ul.navbar-right li .loginSignupBTN {
          padding-top: 10px;
          padding-bottom: 10px;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;
          transition: all 0.5s; }
          .main-navbar .navbar .content ul.navbar-right li .loginSignupBTN:hover {
            background-color: #51bf87;
            border-color: #51bf87; }
.main-navbar .navbarScrolled {
  background-color: #fff;
  box-shadow: 0px -5px 20px black; }
  .main-navbar .navbarScrolled .navbar-toggle:hover .icon-bar {
    background-color: #51bf87 !important; }
  .main-navbar .navbarScrolled .loginSignupBTN {
    background-color: #51bf87;
    border-color: #51bf87 !important; }
  .main-navbar .navbarScrolled ul.navbar-right {
    margin-top: 5px !important;
    margin-bottom: 5px !important; }
    .main-navbar .navbarScrolled ul.navbar-right li a {
      color: #666666 !important; }
    .main-navbar .navbarScrolled ul.navbar-right .loginSignupBTN {
      color: #fff !important; }

.promo-section {
  background: url("../images/bg-header-2.jpg") top center no-repeat fixed;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px; }
  .promo-section .content {
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding: 0px; }
    .promo-section .content .title {
      margin: 0px 0px 20px 0px;
      font-size: 3.3em;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px black; }
    .promo-section .content .description {
      font-size: 1.3em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px black;
      margin-bottom: 30px; }
    .promo-section .content .get-started-btn {
      background-color: #51bf87;
      padding: 8px 30px;
      border-radius: 5px;
      color: #fff;
      font-size: 1.4em;
      font-weight: bold;
      transition: all 0.75s;
      margin-bottom: 30px; }
      .promo-section .content .get-started-btn:hover {
        background-color: #e9553b; }
    .promo-section .content .youtube-link {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px black;
      color: #b4b4b4;
      font-weight: bold; }
      .promo-section .content .youtube-link:hover {
        color: #fff; }

@media (max-width: 1199px) {
  .promo-section {
    padding-top: 150px;
    padding-bottom: 150px; } }
@media (max-width: 991px) {
  .promo-section {
    padding-top: 150px;
    padding-bottom: 100px; } }
@media (max-width: 768px) {
  .promo-section {
    padding-top: 150px;
    padding-bottom: 50px; } }
.info-section-header {
  padding: 80px 0px 0px 0px; }
  .info-section-header .header {
    text-align: center; }
    .info-section-header .header .title {
      font-size: 2.5em;
      margin-top: 0px;
      color: #333; }
    .info-section-header .header .description {
      font-size: 1.3em;
      color: #999999;
      margin-bottom: 30px; }

.info-section .content .row {
  padding: 90px 0px 90px 0px; }
  .info-section .content .row .left-col {
    padding: 0 100px 0 100px; }
    .info-section .content .row .left-col .title {
      margin: 0 0 30px 0;
      color: #4a6781; }
    .info-section .content .row .left-col .description {
      line-height: 1.5;
      font-size: 1.3em;
      color: #333; }
  .info-section .content .row .right-col {
    display: inline-block;
    vertical-align: middle;
    padding: 0 100px 0 100px; }
    .info-section .content .row .right-col img {
      display: block;
      margin: 0 auto; }
    .info-section .content .row .right-col .shadow-please {
      -webkit-filter: drop-shadow(2px 2px 5px #222);
      filter: drop-shadow(2px 2px 5px #222); }

@media (max-width: 1199px) {
  .printing-is-expensive-section .content .row {
    padding: 70px 0px 70px 0px; }
    .printing-is-expensive-section .content .row .left-col {
      padding: 0 75px 0 75px; }
    .printing-is-expensive-section .content .row .right-col {
      padding: 0 130px 0 130px; } }
@media (max-width: 991px) {
  .printing-is-expensive-section .content .row {
    padding: 50px 0px 50px 0px; }
    .printing-is-expensive-section .content .row .left-col {
      padding: 0 25px 0 25px; }
    .printing-is-expensive-section .content .row .right-col {
      padding: 0 100px 0 100px; } }
@media (max-width: 768px) {
  .printing-is-expensive-section .content .header .title {
    font-size: 2.2em; }
  .printing-is-expensive-section .content .header .description {
    font-size: 1.3em; }
  .printing-is-expensive-section .content .row {
    padding: 30px 0px 30px 0px; }
    .printing-is-expensive-section .content .row .left-col {
      padding: 0 15px 0 15px; }
    .printing-is-expensive-section .content .row .right-col.num1 {
      padding: 50px 120px 0px 120px; }
    .printing-is-expensive-section .content .row .right-col.num2 {
      padding: 0px 120px 50px 120px; } }
@media (max-width: 500px) {
  .printing-is-expensive-section .content .row {
    padding: 30px 0px 30px 0px; }
    .printing-is-expensive-section .content .row .right-col.num1 {
      padding: 50px 100px 0px 100px; }
    .printing-is-expensive-section .content .row .right-col.num2 {
      padding: 0px 100px 50px 100px; } }

/*# sourceMappingURL=style.css.map */
