$primary-color: #51bf87
$primary-text-color: #333


*
  box-sizing: border-box

body
  height: 3000px

.content
  max-width: 1170px

.row
  display: block
  .vcenter
    display: inline-block
    vertical-align: middle
    float: none

// Main navbar
.main-navbar
  // This removes the border from the bottom of the navbar on open
  .navbar.navbar-default .navbar-collapse
    border: 0
    -webkit-box-shadow: none
    box-shadow: none
  .navbar
    background-color: transparent
    border: 0px
    margin-bottom: 0px
    transition: all .5s
    .content
      margin: 0 auto
      .navbar-toggle
        border: none
        .icon-bar
          width: 22px
          height: 3px
          background-color: #a7a8a6
        &:hover
          background-color: transparent !important
          .icon-bar
            background-color: #fff
        &:focus
          background-color: transparent
      .icon-bar-green
        .icon-bar
          background-color: $primary-color
        &:hover
          .icon-bar
            background-color: $primary-color
      .navbar-brand
        font-family: 'Roboto', sans-serif
        background-color: $primary-color
        color: #fff
        padding: 15px 30px
        letter-spacing: 1px
        font-size: 1.4em
        font-weight: bold
        border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
      ul.navbar-right
        margin-top: 20px
        margin-bottom: 20px
        padding: 0px 15px
        transition: all .5s
        .active
          color: $primary-color !important
        li
          margin-left: 10px
          a
            padding-top: 10px
            padding-bottom: 10px
            color: #4db37e
          .loginSignupBTN
            padding-top: 10px
            padding-bottom: 10px
            color: #fff
            border: 1px solid #fff
            border-radius: 5px
            transition: all .5s
            &:hover
              background-color: $primary-color
              border-color: $primary-color
  .navbarScrolled
    background-color: #fff
    box-shadow: 0px -5px 20px black
    .navbar-toggle
      &:hover
        .icon-bar
          background-color: $primary-color !important
    .loginSignupBTN
      background-color: $primary-color
      border-color: $primary-color !important
    ul.navbar-right
      margin-top: 5px !important
      margin-bottom: 5px !important
      li a
        color: #666666 !important
      .loginSignupBTN
        color: #fff !important


// Promo section (1)
.promo-section
  background: url('../images/bg-header-2.jpg') top center no-repeat fixed
  background-size: cover
  padding-top: 200px
  padding-bottom: 200px
  .content
    color: #fff
    font-family: 'Roboto', sans-serif
    padding: 0px
    .title
      margin: 0px 0px 20px 0px
      font-size: 3.3em
      font-weight: bold
      text-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 1px 25px rgba(0,0,0,1)
    .description
      font-size: 1.3em
      text-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 1px 25px rgba(0,0,0,1)
      margin-bottom: 30px
    .get-started-btn
      background-color: $primary-color
      padding: 8px 30px
      border-radius: 5px
      color: #fff
      font-size: 1.4em
      font-weight: bold
      transition: all .75s
      margin-bottom: 30px
      &:hover
        background-color: #e9553b
    .youtube-link
      text-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 1px 25px rgba(0,0,0,1)
      color: #b4b4b4
      font-weight: bold
      &:hover
        color: #fff

@media (max-width: 1199px)
  .promo-section
    padding-top: 150px
    padding-bottom: 150px
@media (max-width: 991px)
  .promo-section
    padding-top: 150px
    padding-bottom: 100px
@media (max-width: 768px)
  .promo-section
    padding-top: 150px
    padding-bottom: 50px

// Info section header
.info-section-header
  padding: 80px 0px 0px 0px
  .header
    text-align: center
    .title
      font-size: 2.5em
      margin-top: 0px
      color: $primary-text-color
    .description
      font-size: 1.3em
      color: #999999
      margin-bottom: 30px

// Printing is Expensive Section
.info-section
  .content
    .row
      padding: 90px 0px 90px 0px
      .left-col
        padding: 0 100px 0 100px
        .title
          margin: 0 0 30px 0
          color: #4a6781
        .description
          line-height: 1.5
          font-size: 1.3em
          color: $primary-text-color
      .right-col
        display: inline-block
        vertical-align: middle
        float: none
        padding: 0 100px 0 100px
        img
          display: block
          margin: 0 auto
          -webkit-filter: drop-shadow(2px 2px 5px #222)
          filter: drop-shadow(2px 2px 5px #222)

@media (max-width: 1199px)
  .printing-is-expensive-section
    .content
      .row
        padding: 70px 0px 70px 0px
        .left-col
          padding: 0 75px 0 75px
        .right-col
          padding: 0 130px 0 130px
@media (max-width: 991px)
  .printing-is-expensive-section
    .content
      .row
        padding: 50px 0px 50px 0px
        .left-col
          padding: 0 25px 0 25px
        .right-col
          padding: 0 100px 0 100px
@media (max-width: 768px)
  .printing-is-expensive-section
    .content
      .header
        .title
          font-size: 2.2em
        .description
          font-size: 1.3em
      .row
        padding: 30px 0px 30px 0px
        .left-col
          padding: 0 15px 0 15px
        .right-col
          padding: 50px 120px 0px 120px
